#foot{
    /* background-color: darksalmon; */
    background-color: #f8f7f6;
    border: 0px solid black;
    margin: auto;
}
#para{
    border: 0px solid black;
    margin: auto;
    text-align: center;
    margin-top: 30PX;
    margin-bottom: 30px;
}
#bottom{
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
     /* margin-top: 20px; */
}
#lastsection{
    /* background-color: darkgoldenrod; */
   display: flex;
   justify-content:space-between
}


#container{
    border: 0px solid black;
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 50%;
}

.box{
    width: 35%;
    border: 0px solid black;
}
.box >h2{
    text-align: center;
}
.box> p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.btndiv{
    margin: auto;
    border: 0px solid black;
    display: flex;
    justify-content: center;
}
.appimg1{
    border: -px solid black;
    display: flex;
    justify-content: center;
}
.appimg2{
    border: 0px solid black;
    
}
.appimg1 >img{
    width: 50%;
    /* height: 0%; */
}
.appimg2>img{
    width: 100%;
    height: 100%;
}
.imgsocial1{
    /* background-color: aqua; */
    border: 0px solid black;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: left;
    /* height: 30%; */

}
.imgsocial2{
    /* background-color: aqua; */
    border: 0px solid black;
    width: 40%;
    /* height: 30%; */
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.imgsocial1 img{
    width:10%;
}
.imgsocial2 img{
    width:5%;
}
.boxes p{
    color: #949494;
}
.btn{
    background-color: black;
    cursor: pointer;
    color: white;
    height: 30PX;
    border: 0PX;
    margin-bottom: 30PX;

}



