#main{
width: 80%;
margin: auto;
/* background-color: antiquewhite; */
border: 0px solid black;
display: grid;
grid-template-columns: repeat(6,1fr);
gap: 20px;
}
#main+h2{
    text-align: center;
}
#main>.branddiv{
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main>.branddiv img{
    width: 80%;
    
}
#banner{
    margin: auto;
   
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner +h2{
    text-align: center;
}
#banner ~p{
    text-align: center;
    
}
#banner img{
    border: 0px solid black;
    margin: auto;
}
#communityPost{
    width: 70%;
    margin: auto;
    /* background-color: antiquewhite; */
    border: 0px solid rgb(162, 154, 154);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
#communityPost>.commdiv{
    border: 1px solid rgb(182, 172, 172);
    display: flex;
    justify-content: center;
    align-items: center;
}
.commdiv img{
    width: 90%;
}


#trending{
    width: 80%;
    margin: auto;
    border: 0px solid black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
}
#trending .trendingdata{
    border: 1px solid rgb(238, 229, 229);
}
.personimg{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px; */
    height: 200px; 
    border: 0px solid rgb(103, 102, 102);

}
#btnshow{
    margin: auto;

}
 h2{
    text-align: center;
}
button{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    border: 1px solid rgb(100, 95, 95);
    height: 40px;
    width: 100px;
    
}
button:hover{
    background-color:black;
    color: white;
    cursor: pointer;
}
.personimg img{
    width: 30%;
}
.allinfo{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 200px; */
    height: 150px;
    border: 0px solid black;
}
.allinfo p{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
#gif {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 0px solid rgb(157, 152, 152);
}
#gif .spcdiv{
    border: 1px solid rgb(165, 161, 161);
    display: flex;
    justify-content: center;
    align-items: center;
}
#gif .spcdiv img{
    width: 70%;
}