*{
    background-color: #ffffff;
}
#container{
    margin: auto;
    height: 50px;
    /* background-color: rgb(70, 152, 152); */
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

   
}
#container img{
    width: 10%;
    padding: 10px;
}
a{
    color: black;
}
a:link{
    text-decoration: none;
}
#container #navbar{
    margin: auto;
    border: 0px solid black;
    width: 40%;
    height: 80%;
    /* height: 30px; */
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
    /* font-weight: bold; */
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: darkorange; */
}
#searchSection{
    /* height: 30px; */
    border: 0px solid red;
    /* background-color: coral; */
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    height: 80%;
    margin: auto;
}
#searchSection>img{
    width: 5%;
}
#searchSection>input{
    height: 70%;
    margin: auto;
}
