
#main{
    width: 20%;
    border: 0px solid black;
    /* background-color: darkorange; */
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    /* gap: 10px; */
    display: flex;
    flex-direction: column;
}
.cont{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 200px; */
    /* height: 300px; */
}
.contimg{
  
    /* width: 150px; */
    /* height: 150px; */
    border: 0px solid red;
}
/* p{
    text-align: center;
} */
.contdata{
    /* width: 150px;
    height: 100px; */
    border: 0px solid black;
}
.contdata p{
    font-size: 15px;
    text-align: center;
}
.para1,.para3{
    font-weight: bold;
}
.para2{
    color: #626060;
}
.search{
    height: 40px;
}
.filter{

    height: auto;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn > button{
    background-color: #ffffff;
    width: 80%;
    color: black;
    margin: auto;
    height: 30px;
    border: 1px solid black;
    font-size: 20px;
}
.btn > button:hover{
    background-color: black;
    color: #ffffff;
}
#main> div{
    border: 0px solid black;
}
.categoryItem>div{
    border: 0px solid black;

}
#head{
    display: flex;
    justify-content:space-between;
    border: 0px solid black;
    /* background-color: darkkhaki; */
}
#head> .right{
    border: 0px solid black;
    width: 80%;
}
#head> .right p{
    margin: left;
}
#head> .left{
    border: 0px solid black;
}


#bigone{
    border: 0px solid black;
}
#common{

    border: 0px solid black;
    display: flex;
    justify-content: space-around;
}
#main2{
    width: 75%;
    /* height: 1000px; */
    border: 0px solid black;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    /* grid-template-rows: 400px 1fr; */
    gap: 5px;
    text-align: justify;
}

.img_css{
 
        float: left;
        width:  300px;
        height: 300px;
        /* object-fit: cover; */
        /* overflow: hidden; */
        object-fit:cover;
        width: 100%;
        display: block;
        margin: 0 auto;
   
    /* overflow: hidden; */
    
}
#main2> div{
    border:1px solid rgb(149, 142, 142);
    /* background-color: blueviolet; */
    
}
#headbottom{
    display: flex;
    justify-content: space-between;
    border: 0px solid black;
}
#headbottom div{
    border: 0px solid black;
}
.rs > div{
    border: 0px solid black;
}
.rc> div{
    border: 0px solid black;
}
.first{
    padding: 20px;
    width: 30%;
}
.middle{
    width: 20%;
}
.third{
    width: 20%;
}
#conditionoption{
    /* background-color: blue; */
    height: 25px;
    width: 150px;
    border: 0px solid;
    
}
#categoryoption{
    height: 25px;
    width: 155px;
    border: 0px solid;
}
#genderoption{
    height: 25px;
    width: 167px;
    border: 0px solid;
}